
#text-container {
    font-size: 16px;
    font-family: poppins;
    margin-left: 180px;
    margin-right: 180px;

    text-align: center;
    color: whitesmoke;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
}

ol {
    list-style-type: none;
    padding: 0;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

li {
    border-bottom: 1px solid ;
    padding: 15px;
}

li:last-child {
    border-bottom: none;
}

a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: bold;
}

a:hover {
    color: rgb(85, 85, 85);
}


.nav-links {
    font-family: poppins;

    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #3498db;
}
